.background {
    background: none repeat scroll 0 0 #FFFFFF;
/*     margin-top: 26px; */
/*     padding: 8px; */
    
}

.container {
/*     margin-left: 9%; */
    margin-right: auto;
/*     width: 70%; */
/*     min-height : 650px; */
	height:100%;
    overflow: hidden;
}
body {
    background-color: grey;
/*     background-image: url("../images/bg.png"); */
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*     font-size: 13px; */
    font-weight: normal;
    line-height: 18px;
    margin: 0;
}

.spanTitle{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}





