.error {
	width: 20em;
	float: left;
	float: none;
	margin: 4px 0 0 6px;
	color: red;
	vertical-align: top;
/* 	font-family: Verdana; */
 	font-size: 15px; 
}

.objectError{
	margin: 30px 30px 10px 120px;
	width: 20em;
	float: left;
	float: none;
	color: red;
	vertical-align: top;
/* 	font-family: Verdana; */
 	font-size: 15px; 
}