thead {
	background: #595959;
		color:white;
}
strong {
	font-style: inherit;
	font-weight: bold;
	font-size: 13px;
}

table .span3 {
	width: 100px;
}

table td { /*     border-top: 1px solid #DDDDDD; */
	vertical-align: top;
}

table th,table td {
	line-height: 18px;
	padding: 6px 1px 7px;
	text-align: left;
}

.headerStrong {
	font-size: 17px;
}

.invitationbtn{
/* 	padding: 4px 12px; */
/* 	text-align: center; */
/* 	text-decoration: none */
	font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
/*     padding: 5px 10px; */
/*     border-top: 1px solid #CCCCCC; */
/*     border-right: 1px solid #333333; */
/*     border-bottom: 1px solid #333333; */
/*     border-left: 1px solid #CCCCCC; */
    border-style:outset;
    border-color:white;
    display:table;
    width:89%;
    text-align: center;
    height:20px;
	
}

/* .divHeaderTable */
/* { */
/*             width: 100%; */
/*             padding-bottom:5px; */
/*             display:block; */
/* } */
/* .divHeaderRow */
/* { */
/*             width: 100%; add extra that you want to for header column */
/*             display:block; */
/*             height:105px; */
/* } */
/* .divHeaderColumn */
/* { */
/*             float: left; */
/*             width: 33%; */
/*             display:block; */
/* } */
/* .divTable */
/* { */
/*             width: 100%; */
/*             display:block; */
/*             padding-top:10px; */
/*             padding-bottom:10px; */
/*             padding-right:10px; */
/*             padding-left:10px;  */
/* } */
/* .divRow */
/* { */
/*          width: 99%;  */
/*          display:block; */
/*          padding-bottom:5px; */
/* } */
/* .divColumn */
/* { */
/*          float: left; */
/*          width: 24%; */
/*          display:block; */
/* } */